@import '../../../lib/semantic-ui/themes/default/globals/site.variables.import.less';

#react-root {
  height: 100% !important;
}

.top-menu {
  background: #F8F8F8 !important;
}

.right-menu {
  width: auto !important;
  left: auto !important;
  right: 0 !important;
  border-bottom-color: transparent !important;
}

.search-earthref input.prompt {
  border: none !important;
  margin-top: -1px;
  margin-bottom: -2px;
}

.layout-content {
  padding: 4em @relativeLarge 0 !important;
}

@media only screen and (max-width: @largestTabletScreen) {
  .top-menu-navigation {
    display: none !important;
  }
}

@media only screen and (min-width: @computerBreakpoint) {
  .sidebar-button {
    display: none !important;
  }
}
