@import '../../../lib/semantic-ui/themes/default/globals/site.variables.import.less';
@import '../../../lib/semantic-ui/themes/default/modules/sidebar.variables.import.less';

#react-root {
  height: 100% !important;
}

.layout.pushable {
  transform: none !important;
}

.layout.pushable > .ui.sidebar,
.layout.pushable > .fixed,
.layout.pushable > .pusher:after {
  position: fixed !important;
}

.top-menu, .footer {
  background: #F8F8F8 !important;
}

.right-menu {
  width: auto !important;
  left: auto !important;
  right: 0 !important;
  border-bottom-color: transparent !important;
}

.search-earthref input.prompt {
  border: none !important;
  margin-top: -1px;
  margin-bottom: -2px;
}

.layout-content, .footer > .ui.container {
  padding-left:  @relativeLarge !important;
  padding-right: @relativeLarge !important;
}

.layout-content {
  padding-top: 4em !important;
  padding-bottom: 6em !important;
}

@media only screen and (max-width: @largestTabletScreen) {
  .top-menu-navigation {
    display: none !important;
  }
}

@media only screen and (min-width: @computerBreakpoint) {
  .sidebar-button {
    display: none !important;
  }
}

.footer .segment {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}