.data-model .versions.buttons .button {
  position: relative !important;
}

.data-model .accordion {
  box-shadow: none !important;
}

.data-model .accordion .title {
  padding: 0.5em 0em !important;
}

.data-model .accordion .content {
  padding: 0em 1.5em 0.5em !important;
}

.data-model .label {
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.6) !important;
  padding: 0.4em !important;
}