/*

.vocabularies .vocabularies-table .grid > .column {
  padding: .25rem !important;
}

.vocabularies .vocabularies-table  .list > .item > .content {
  padding: 0em !important;
}

.vocabularies > .segment {
  min-height: 200px;
}

.vocabularies > .segment > .dimmer.active {
  //min-height: 200px;
  max-height: 100vh !important;
}

.search .search input.prompt {
  min-width: 200px !important;
  border-radius: 0 !important;
}

.vocabularies .vocabularies-count {
  white-space: nowrap !important;
}

.vocabularies .accordion .title {
  padding: 0.5em 0em !important;
  display: flex;
}

.vocabularies .accordion .group-title {
  background: #aaaaaa !important;
  box-shadow: inset 0px -5px 35px 15px white !important;
}

.vocabularies .accordion .title > * {
  white-space: nowrap !important;
  min-width: inherit !important;
  flex-shrink: 0 !important;
  margin-right: 0.5em !important;
}

.vocabularies .accordion .vocabularies-table:first-of-type > .title {
  border-top: none !important;
}

.vocabularies .accordion .vocabularies-table.no-match,
.vocabularies .accordion .vocabularies-group.no-match,
.vocabularies .accordion .vocabularies-column.no-match {
  display: none !important;
}


.vocabularies .accordion .content {
  padding: 0em 1.75em 0.5em !important;
}

.search .accordion .vocabularies-column .title.active .description {
  visibility: hidden !important;
}

.search .vocabulary-label {
  color: rgba(0, 0, 0, 0.4) !important;
}

.search .accordion .title > span:not(.description) {
  color: black;
}

*/


.magic-search > .segment {
  //padding: 0;
}

.magic-search > .segment > .ui.input {
  //padding: 1em;
}

.magic-search > .segment > table {
  //width: 100%;
}

.magic-search > .segment > table > tbody > tr > td {
  //vertical-align: top;
}

.magic-search .search-settings {
  //white-space: nowrap;
  //overflow-y: auto;
  //padding: 1em;
  //transition: all 0.5s ease;
}

.magic-search .search-settings.hidden {
  //width: 0;
  //padding-right: 0;
  //margin-right: 0;
  //border-right: none;
}

.magic-search .search-results {
  //overflow: auto;
  //padding: 1em;
  //border-radius: 0 !important;
  //box-shadow: none !important;
}

.magic-search .search-results.settings-visible {
  //border-left: 1px solid #D4D4D5;
}

.magic-search .search-results > .magic-contribution:first-child > .title {
  //border-top: none;
  //padding-top: 0;
}

.magic-search .search-results .title .description {
  //font-weight: normal !important;
  //overflow: hidden !important;
  //text-overflow: ellipsis !important;
  //white-space: nowrap !important;
  //flex-shrink: 1 !important;
  //flex-grow: 1 !important;
}


.magic-search .search-results .title span.table,
.magic-search .search-results .title span.column {
  //font-weight: normal !important;
}

/*.magic-search .label {
  font-weight: normal !important;
  color: rgba(0, 0, 0, 0.6) !important;
  padding: 0.4em !important;
}*/
