.upgrade-contribution {
  margin: 4em auto;
  //max-width: 800px;
}

.upgrade-contribution .ui.steps .step.hidden {
  display: none !important;
}

.upgrade-contribution-message {
  background-color: white !important;
}

.upgrade-contribution-message > .accordion > .title {
  padding: 0 !important;
  visibility: hidden !important;
}

.select-step-content .upgrade-dropzone {
  cursor: pointer;
}

.select-step-content .grid > .column {
  margin: 2em 0;
}

.select-step-content .grid > .column > h5 {
  margin: 0.5em;
}

.upgrade-step-content .file.text.icon {
  font-size: 5em;
}