.upgrade-dropzone {
  cursor: pointer;
}

.upgrade-contribution-message {
  background-color: white !important;
}

.upgrade-contribution-message > .accordion > .title {
  padding: 0 !important;
  visibility: hidden !important;
}